body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.8rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

header {
    padding: 2rem;
}

footer {
    padding: 0.5rem;
    text-align: center;
}

.select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

select {
    width: 100%;
}

#map {
    height: 80vh;
    width: 100%;
}

#about {
    padding: 2rem;
}

.anchor {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1024px) and (orientation: landscape) {
    .select {
        flex-direction: row;
        justify-content: center;
        div {
            width: 35%;
        }
    }
}
