body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.8rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

.anchor {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


