header {
    padding: 2rem;
    background-color: $smooth-darker;
    @include selection-light;
    h1 {
        color: $smooth-lighter;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
    }
    .anchor {
        @include left-2-center;
    }
}

.select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    div {
        position: relative;
    }
}

.fa-caret-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: $smooth-darker;
}

select {
    width: 100%;
    background-color: $smooth;
    border: none;
    @include rounded;
    appearance: none;
    @include hover-shadow;
    color: $smooth-darkest;
    outline: none;
}

option {
    &:checked {
        background-color: $smooth-darker;
        color: $smooth-lighter;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    header {
        h1 {
            font-size: 3.5rem;
        }
    }
    .select {
        flex-direction: row;
        justify-content: center;
        div {
            width: 35%;
        }
    }
}