.about {
    padding: 2rem;
    background-color: $smooth;
    h2 {
        font-family: 'Poiret One', cursive;
        text-transform: capitalize;
        font-size: 2rem;
    }
    @include selection-dark;
}